<ion-content [fullscreen]="true">
  <div class="dashboard-main">
    <div class="dashboard-header">
      <ion-label class="back-button" routerLink="/main/tabs/dashboard">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-label>
      <h4>Review</h4>
      <!-- <ion-card-title slot="end"> Review</ion-card-title> -->
      <ion-icon name="notifications" class="notification" (click)="showNotifications($event)"></ion-icon>
    </div>
    <div class="dashboad-body">
      <div class="feedback-tile-wrapper">
        <h5 class="feeback-tile-title">New Review</h5>
        <form class="modal-form">
          <div class="form-controls-wrapper">
            <div class="input-wrapper">
              <div class="input-inner">
                <ion-item class="reg-form-input-item">
                  <ion-icon name="document-text" class="inout-icon float-label"></ion-icon>
                  <ion-textarea class="input  reg-form-input" placeholder="Feedback..." name="message" [(ngModel)]="message" required></ion-textarea>
                </ion-item>
              </div>
            </div>
            <ion-button class="feedback-button" [disabled]="!message || inProcess"color="dark" (click)="sendFeedback()">
              <span *ngIf="!inProcess">Send Review</span>
              <ion-spinner name="lines-small" *ngIf="inProcess"></ion-spinner>
            </ion-button>
          </div>
        </form>
      </div>
      <div class="dash-task-list">
        <div class="dash-list-head">
          <h4>Feedbacks</h4>
        </div>
        <div class="dash list-body" *ngIf="!isLoading">
          <ion-list *ngIf="feedbacks?.length">
            <ion-item *ngFor="let feedback of feedbacks; let idx = index">
              <ion-label>{{ feedback.message }}</ion-label>
              <span class="float-end status {{feedback.status == 'read'? 'success' : 'pending'}}">{{feedback.status}}</span>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
          </ion-list>
          <div class="notice-message" *ngIf="!feedbacks?.length"> No record found.</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>