<ion-content [fullscreen]="true">
  <div class="dashboard-main">
    <div class="dashboard-header">
      <ion-label class="back-button" routerLink="/main/tabs/dashboard">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-label>
      <h4>Review</h4>
      <!-- <ion-card-title slot="end"> Review</ion-card-title> -->
      <ion-icon name="notifications" class="notification" (click)="showNotifications($event)"></ion-icon>
    </div>
    <div class="dashboad-body">
      <div class="feedback-tile-wrapper">
        <h5 class="feeback-tile-title">New Review</h5>
        <form class="modal-form">
          <div class="form-controls-wrapper">
            <div class="input-wrapper">
              <div class="input-inner">
                <ion-item class="reg-form-input-item">
                  <ion-icon class="input-icon float-label" name="person-circle"></ion-icon>
                  <ion-input class="input reg-form-input" type="text" placeholder="Program Title" name="programTitle"  [(ngModel)]="programTitle" required></ion-input>
                </ion-item>
              </div>
              <span class="err-text" *ngIf="!programTitle && programEdited">
                Program title is required
              </span>
            </div>
            <div class="input-wrapper">
              <div class="input-inner">
                <ion-item class="reg-form-input-item">
                  <ion-icon name="document-text" class="inout-icon float-label"></ion-icon>
                  <ion-textarea class="input  reg-form-input" placeholder="Feedback..." name="feedback"  [(ngModel)]="feedback" required></ion-textarea>
                </ion-item>
              </div>
            </div>
            <ion-button class="feedback-button" color="dark" (click)="sendFeedback($event)">
              Send Review
            </ion-button>
          </div>
        </form>
      </div>
      <div class="dash-task-list">
        <div class="dash-list-head">
          <h4>Feedbacks</h4>
        </div>
        <div class="dash list-body">
          <ion-list>
            <ion-item>
              <ion-label>Transaction Description <span class="float-end"></span></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>Transaction Description <span class="float-end"></span></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>Transaction Description <span class="float-end"></span></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>Transaction Description <span class="float-end"></span></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>Transaction Description <span class="float-end"></span></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>