<div class="notification-main">
  <div class="notification-body" *ngIf="!isLoading">
    <ion-list *ngIf="modelService.notifications?.length">
      <ion-item class="{{notif.status}}" *ngFor="let notif of modelService.notifications; let idx = index">
        <ion-label (click)="navigateToUrl(notif)"><small>({{notif.date_string}})</small> {{notif.text}}</ion-label>
        <ion-icon slot="end" (click)="markRead(notif.id)" name="ellipsis-horizontal"></ion-icon>
      </ion-item>
    </ion-list>
    <div class="notice-message" *ngIf="!modelService.notifications?.length">Empty notification.</div>
  </div>
</div>
