.profile-main {
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient( 359deg, #a2a2a2, #ffffff);
}
.profile-header {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    h4{
        text-align: center;
        width: 65%;
    }
}
.profile-head-title {
    ion-icon {
        margin-right: 0.5rem;
        float: left;
    }
    span {
        font-size: 18px;
    }
}
.profile-body{
    ion-card{
        box-shadow: unset;
    }
}
.card-header-link {
    font-size: 20px;
    font-weight: 700;
}
.user-icon {
    font-size: 3rem;
    margin: 1rem;
}