.modal-main {
    margin: 2rem 1rem;
    background: linear-gradient( 359deg, #a2a2a2, #ffffff);
    padding: 1rem;
}

.modal-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    ion-card-title {
        color: #000008;
        padding: 0.5rem;
        font-weight: 600;
        font-size: 22px;
    }
}
.modal-content{
    background: #ffffff;
    padding: 0.5rem;
    margin: 1rem 0rem;
    border: none;
}

ion-card{
    box-shadow: unset;
}

.user-icon {
    font-size: 3rem;
    margin: 1rem;
}