<ion-content [fullscreen]="true">
  <div class="dashboard-main">
    <div class="dashboard-header">
      <ion-tab-bar slot="bottom" class="custom-tabbar">
        <ion-tab-button tab="waste-collection" class="inherit-background" title="Waste collection dates" routerLink="/main/tabs/waste-collection">
          <ion-icon name="calendar" color="dark"></ion-icon>
          <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>
        <ion-tab-button class="inherit-background" (click)="collectionDetail()">
          <ion-text class="dash-head-titled-text" *ngIf="modelService.collectionDetail && wasteCollections[0]?.isExpired !== true">next collection</ion-text>
          <ion-label class="text-bold keep-inline" *ngIf="modelService.collectionDetail && wasteCollections[0]?.isExpired !== true">{{modelService.collectionDetail.collection_date}}</ion-label>
          <h6 class="text-center" *ngIf="!modelService.collectionDetail || wasteCollections[0]?.isExpired">Choose Collection Date</h6>
        </ion-tab-button>
        <ion-tab-button class="inherit-background" (click)="collectionDetail()">
          <ion-icon name="{{!modelService.collectionDetail || wasteCollections[0]?.isExpired ? 'add': 'information'}}" color="dark"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
      <ion-icon name="notifications" class="notification" (click)="showNotifications($event)"></ion-icon>
    </div>
    <div class="dashboad-body">
      <div class="dash-tile-wrapper">
        <div class="dash-tile tile-orange" (click)="topUpWallet()">
          <ion-icon name="card" slot="start"></ion-icon>
          <div class="dash-tile-body">
            <ion-label>Deposit</ion-label>
            <ion-text></ion-text>
          </div>
        </div>
        <div class="dash-tile tile-primary" routerLink="/main/tabs/order">
            <ion-icon name="trash-bin" slot="start"></ion-icon>
            <div class="dash-tile-body">
              <ion-label>Order</ion-label>
              <ion-text></ion-text>
            </div>
        </div>
        <div class="dash-tile tile-success" routerLink="/main/tabs/profile">
          <ion-icon name="person" slot="start"></ion-icon>
          <div class="dash-tile-body">
            <ion-label>Profile</ion-label>
            <ion-text></ion-text>
          </div>
        </div>
        <div class="dash-tile tile-danger" routerLink="/main/tabs/feedbacks">
          <ion-icon name="chatbox-ellipses" slot="start"></ion-icon>
          <div class="dash-tile-body">
            <ion-label>Review</ion-label>
            <ion-text></ion-text>
          </div>
        </div>
      </div>
      <div class="dash-task-list">
        <div class="dash-list-head">
          <h4>Waste Collection Dates</h4>
          <h6><a routerLink="/main/tabs/waste-collection">View All</a></h6>
        </div>
        <div class="dash list-body">
          <ion-list *ngIf="collectionDates?.length">
            <ion-item *ngFor="let collection of collectionDates; let idx = index">
              <ion-label>{{collection.location}} <small>({{collection.date}})</small></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
          </ion-list>
          <div class="notice-message" *ngIf="!collectionDates?.length"> No record found.</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
