<ion-content [fullscreen]="true">
  <div class="dashboard-main">
    <div class="dashboard-header">
      <ion-tab-bar slot="bottom" class="custom-tabbar">
        <ion-tab-button tab="waste-collection" class="inherit-background" title="Waste collection dates">
          <ion-icon name="calendar" color="dark"></ion-icon>
          <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>
        <ion-tab-button class="inherit-background" routerLink="dashboard/order/1">
          <ion-text class="dash-head-titled-text">next collection</ion-text>
          <ion-label class="text-bold keep-inline">Tuesday, 24, Nov</ion-label>
        </ion-tab-button>
        <ion-tab-button class="inherit-background" (click)="showCollectionSearch($event)">
          <ion-icon name="search" color="dark"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
      <ion-icon name="notifications" class="notification" (click)="showNotifications($event)"></ion-icon>
    </div>
    <div class="dashboad-body">
      <div class="dash-tile-wrapper">
        <div class="dash-tile tile-orange" (click)="topUpWallet($event)">
          <ion-icon name="card" slot="start"></ion-icon>
          <div class="dash-tile-body">
            <ion-label>Deposit</ion-label>
            <ion-text></ion-text>
          </div>
        </div>
        <div class="dash-tile tile-primary" routerLink="/main/tabs/order">
            <ion-icon name="trash-bin" slot="start"></ion-icon>
            <div class="dash-tile-body">
              <ion-label>Order</ion-label>
              <ion-text></ion-text>
            </div>
        </div>
        <div class="dash-tile tile-success" routerLink="/main/tabs/profile">
          <ion-icon name="person" slot="start"></ion-icon>
          <div class="dash-tile-body">
            <ion-label>Profile</ion-label>
            <ion-text></ion-text>
          </div>
        </div>
        <div class="dash-tile tile-danger" routerLink="/main/tabs/feedbacks">
          <ion-icon name="chatbox-ellipses" slot="start"></ion-icon>
          <div class="dash-tile-body">
            <ion-label>Review</ion-label>
            <ion-text></ion-text>
          </div>
        </div>
      </div>
      <div class="dash-task-list">
        <div class="dash-list-head">
          <h4>Waste Collection Dates</h4>
          <h6><a routerLink="/main/tabs/waste-collection">View All</a></h6>
        </div>
        <div class="dash list-body">
          <ion-list>
            <ion-item>
              <ion-label>Lekki Phase 1 <small>(Monday, 12, June)</small></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>Lekki Phase 11 <small>(Tuesday, 13, June)</small></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>Ubeju Lekki <small>(Wednesday, 14, June)</small></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>Epe <small>(Saturday, 10, June)</small></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>Victoria Island <small>(Wednesdy, 07, June)</small></ion-label>
              <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
