<ion-content [fullscreen]="true">
  <div class="profile-main">
    <div class="profile-header">
      <ion-label class="back-button" routerLink="/main/tabs/dashboard">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-label>
      <ion-label class="profile-head-title">
        <ion-icon name="person-circle" class="icon-titled"></ion-icon>
        <span class="text-bold">Profile</span>
      </ion-label>
      <ion-icon name="notifications" class="notification" (click)="showNotifications($event)"></ion-icon>
    </div>
    <div class="profile-body">
      <ion-card>
        <ion-card-header class="flex-header">
          <ion-card-title>Abdulwasiu Majoyeogbe</ion-card-title>
          <ion-icon class="card-header-link" name="pencil" (click)="editProfile($event)"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item lines="none">
              <ion-label>
              abdulwasihitopee4real@gmail.com
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>
              +2348188549307
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="button-main text-bold text-center" (click)="editProfile($event)">
                Edit Detail
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>