<ion-content [fullscreen]="true">
  <div class="profile-main">
    <div class="profile-header">
      <ion-label class="back-button" routerLink="/main/tabs/dashboard">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-label>
      <ion-label class="profile-head-title">
        <ion-icon name="person-circle" class="icon-titled"></ion-icon>
        <span class="text-bold">Profile</span>
      </ion-label>
      <ion-icon name="notifications" class="notification" (click)="showNotifications($event)"></ion-icon>
    </div>
    <div class="profile-body">
      <ion-card>
        <div class="d-flex flex-center">
          <ion-icon class="user-icon" name="person"></ion-icon>
        </div>
        <ion-card-header class="flex-header">
          <ion-card-title>{{ authService.user.value.first_name }} {{ authService.user.value.surname }}</ion-card-title>
          <ion-icon class="card-header-link" name="pencil" (click)="editProfile(authService.user.value)"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item lines="none">
              <ion-label>
                {{ authService.user.value.email }}
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>
              {{ authService.user.value.phone }}
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>
              {{ authService.user.value.address }}
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="button-main text-bold text-center" (click)="editProfile(authService.user.value)">
                Edit Detail
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>