<ion-content [fullscreen]="true">
  <div class="dashboard-main" *ngIf="!isLoading">
    <div class="dashboard-header">
      <ion-label class="back-button" routerLink="/main/tabs/dashboard">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-label>
      <h4>Wallet</h4>
      <ion-icon name="notifications" class="notification" (click)="showNotifications($event)"></ion-icon>
    </div>
    <div class="dashboad-body">
      <div class="wallet-tile-wrapper" *ngIf="modelService.wallet">
        <h5 class="wallet-tile-title">Balance</h5>
        <h3 class="wallet-tile-amount">₦{{modelService.wallet.amount}}</h3>
        <ion-button class="topup-button" color="dark" (click)="topUpWallet()">
          <ion-icon name="arrow-up-circle"></ion-icon>
          Top Up
        </ion-button>
      </div>
      <div class="dash-task-list">
        <div class="dash-list-head">
          <h4>Transactions</h4>
        </div>
        <div class="dash list-body" *ngIf="!isLoading">
          <ion-list *ngIf="transactions?.length">
            <ion-item *ngFor="let trans of transactions; let idx=index">
              <ion-label><span class="float-end">₦{{trans.amount}}</span> {{trans.wallet_stat}} ({{trans.reference}})</ion-label>
              <span class="float-end status {{ trans.status == 'SUCCESS' ? 'success' : 'pending'}}">{{ trans.status}}</span>
            </ion-item>
          </ion-list>
          <div class="notice-message" *ngIf="!transactions?.length"> No record found.</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>