<ion-content [fullscreen]="true">
    <div class="dashboard-main">
      <div class="dashboard-header">
        <ion-icon name="notifications" class="notification d-none" (click)="showNotifications()"></ion-icon>
      </div>
      <div class="dashboad-body">
        <div class="dash-tile-wrapper">
          <div class="dash-tile tile-orange" routerLink="/staff/tabs/users">
            <ion-icon name="people" slot="start"></ion-icon>
            <div class="dash-tile-body">
              <ion-label>Customers</ion-label>
              <ion-text></ion-text>
            </div>
          </div>
          <div class="dash-tile tile-primary" routerLink="/staff/tabs/orders">
              <ion-icon name="trash-bin" slot="start"></ion-icon>
              <div class="dash-tile-body">
                <ion-label>Order</ion-label>
                <ion-text></ion-text>
              </div>
          </div>
          <div class="dash-tile tile-success" routerLink="/staff/tabs/collections">
            <ion-icon name="calendar" slot="start"></ion-icon>
            <div class="dash-tile-body">
              <ion-label>Waste Collection</ion-label>
              <ion-text></ion-text>
            </div>
          </div>
          <div class="dash-tile tile-danger" routerLink="/staff/tabs/feedbacks">
            <ion-icon name="chatbox-ellipses" slot="start"></ion-icon>
            <div class="dash-tile-body">
              <ion-label>Feedback</ion-label>
              <ion-text></ion-text>
            </div>
          </div>
        </div>
        <div class="dash-task-list">
          <div class="dash-list-head">
            <h4>Waste Collection Dates</h4>
          </div>
          <div class="dash list-body">
            <ion-list *ngIf="collectionDates?.length">
              <ion-item *ngFor="let collection of collectionDates; let idx = index">
                <ion-label>{{collection.location}} <small>({{collection.date}})</small></ion-label>
                <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
              </ion-item>
            </ion-list>
            <div class="notice-message" *ngIf="!collectionDates?.length"> No record found.</div>
          </div>
        </div>
      </div>
    </div>
</ion-content>
