/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.fancy-main-1 {
    border-radius: 0rem 0rem 11rem 0rem;
    box-shadow: #9f9f9f 1rem 2rem 2rem 1rem;
}
.fancy-main-2 {
    border-radius: 0rem 0rem 12rem 12rem;
    box-shadow: #9f9f9f 0rem 3rem 3rem 0rem;
}

/** Buttons **/
.back-button {
    font-size: 30px;
    letter-spacing: 2rem;
    line-height: 3rem;
    font-weight: 800;
    cursor: pointer;
}
.back-button:hover, .back-button:active, .back-button:focus {
    padding: 0.5rem 0.6rem 0.3rem;
    border-radius: 6rem;
    box-shadow: #aaaaaa 2px 2px 2px 1px;
}

.button-main {
    background: #aaaaaa;
    color: #111111 !important;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

/** Homepage and auth page styling **/
.home-main, .auth-main, .dashboard-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5vh 1rem 5vh 1rem;
    background-color: #8c8c8c; 
    min-height: 100vh;
}

.home-inner-wrapper, .auth-inner-wrapper{
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    .home-main-header, .auth-main-header{
      ion-card-subtitle, ion-card-title{
        margin: 0.8rem 0.3rem;
        font-size: 2.2rem;
      }
      ion-card-subtitle{
        color: #f6f6f6;
        font-size: 1.5rem;
      }
    }
    .auth-main-body{
        padding: 0.5rem 0.3rem;
    }
    .home-main-text , .auth-body-text{
        text-align: justify;
        line-height: 1.7rem;
        letter-spacing: 1.1px;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .home-footer{
      position: fixed;
      width: 83%;
      bottom: 10vh;
    }
}

.reg-form-main {
    padding: 0.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.form-controls-wrapper {
    padding: 1rem 0.5rem;
    width: 100%;
    min-height: 9vh;
}
.input-wrapper{
    margin: 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    .input-inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
.reg-form-input-item {
    border-radius: 1.2rem;
    width: 100%;
    ion-icon {
        margin-right: 1rem;
    }
}
.reg-form-button {
    width: 100%;
    border-radius: 1.2rem;
    background-color: #333333;
    --background-color: #333333;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 1.2rem;
}
.reg-form-button:hover, .reg-form-button:focus, .reg-form-button:active {
    background: #676767;
    --background-color: #676767;
}

/** Dashboard CSS Handler**/
.dashboard-main{
    padding: 5vh 1rem 2vh 1rem;
    background: linear-gradient(359deg, #d4d4d4, #ffffff);
    .dashboard-header, .dashboard-footer, .dashboard-body{
        width: 100%;
    }
    .dashboard-body{
        display: flex;
        flex-direction: column;
        flex-wrap: column;
        justify-content: space-around;
    }
}
.dash-task-list{
    margin-bottom: 1rem;
    .dash-list-head{
        display: flex;
        justify-content: space-between;
        padding: 0rem 0.5rem 0.5rem;
        h4, a{
            font-weight: 700;
        }
    }
}
ion-content{
    .dashboard-main{
        padding: 5vh 1rem 2vh 1rem;
        background: linear-gradient(359deg, #d4d4d4, #ffffff);
    }
}
.d-flex {
    display: flex;
}
.flex-header {
    display: flex;
    justify-content: space-between;
}
.card-header-link{
    font-size: 18px;
}
.icon-titled {
    font-size: 1.7rem;
}

.notification {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 18px;
}
.inherit-background{
    background: inherit;
}
.text-bold{
    font-weight: 700;
}
.text-center {
    text-align: center;
}
.keep-inline{
    white-space: nowrap;
}

/** Modal Style **/
ion-modal#ion-overlay-2, ion-modal .modal-wrapper, ion-modal ion-backdrop, ion-modal .ion-page, ion-modal ion-content {
    background: #0000004f !important;
    --background: #0e0e0e1c !important;
}

/** Popover Style**/
.popover-wrapper, .popover-wrapper.sc-ion-popover-md {
    width: auto !important;
    height: auto !important;
}
.popover-content, .popover-content.sc-ion-popover-md{
    left: auto !important;
    top: 1.5rem !important;
    right: 0.5rem;
    width: 89% !important;
    height: auto;
    max-height: 70vh !important;
    overflow-y: auto !important;
}
.popover-arrow, .popover-arrow.sc-ion-popover-md {
    top: 0.5rem !important;
    right: 0.6rem !important;
    width: 1rem !important;
    height: 1rem !important;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: fixed;
    z-index: 10;
}

/** Error Css Handler **/
.notice-message {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    color: #750000;
}

.err-text {
    color: #ff3333;
    font-size: 14px;
    padding: 0.5rem 1rem;
}

.main-app{
    background-color: #8cd5a0ac;
}
.full-top-container{
    width: 100%;
    height: 80vh;
}