
<ion-content [fullscreen]="true">
  <div class="home-main fancy-main-1">
    <div class="home-inner-wrapper">
      <div class="home-image-wrapper">
        <ion-thumbnail>
          <ion-img src="assets/images/waste-img.png"></ion-img>
        </ion-thumbnail>
      </div>
      <div class="home-main-header">
        <ion-card-subtitle>Kip Clean</ion-card-subtitle>
        <ion-card-title>Collaboration</ion-card-title>
      </div>
      <div class="home-main-text">
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </div>
    </div>
    <div class="home-footer">
      <ion-segment>
        <ion-segment-button class="home-footer-button" value="register" [ngClass]="{'inactive': !registerClicked === true}" (click)="toggleHomeButton($event)" routerLink="/register">
          Register
        </ion-segment-button>
        <ion-segment-button class="home-footer-button inactive" value="signin" [ngClass]="{'inactive': registerClicked === true}" (click)="toggleHomeButton($event)" routerLink="/login">
          Sign In
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
</ion-content>
