#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.home-image-wrapper{
  width: 100%;
  min-height: 36vh;
  height: 100%;
  ion-thumbnail{
    width: 100%;
    min-height: 36vh;
  }
}
ion-segment{
  background: #2c2c2c !important;
  color: #ffffff !important;
  border-radius: 1rem !important;
  .home-footer-button{
    background: #ffffff !important;
    color: #2c2c2c !important;
    border-radius: 1rem !important;

  }
}